<div id="<%= dom_id participant %>">
  <p>
    <strong>Registry:</strong>
    <%= participant.registry_id %>
  </p>

  <p>
    <strong>Coordinator:</strong>
    <%= participant.coordinator_id %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= participant.gender %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= participant.birthday %>
  </p>

</div>
